@keyframes loading {
    from {
        background-position: 0 -400px;
    }
    to {
        background-position: -7px -400px;
    }
}

.dropzone {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 0;
    background: none;
}

.dropzone .dz-message {
    display: none;
    opacity: 1;
}

.dropzone.dz-drag-hover {
    border-color: rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.1);
}

.dropzone-previews {
    text-align: center;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
    position: relative;
    display: inline-block;
    max-width: 200px;
    margin: 6px;
    padding: 6px;
    vertical-align: top;
}

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
    display: none;
}

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
    position: relative;
    margin: 0 auto;
    padding: 0.5rem 0.5rem 0;
}

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
    width: 120px;
    height: 120px;
}

.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
    line-height: 28px;
    height: 28px;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
    display: block;
}

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
    display: block;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
    font-size: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    display: none;
    width: 40px;
    height: 40px;
    text-align: center;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
    color: #8cc657;
}

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
    color: #ee162d;
}

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
    position: relative;
    display: none;
    height: 6px;
    background: #d7d7d7;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    background-color: #8cc657;
}

.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
    display: block;
}

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
    z-index: 500;
    display: none;
    min-width: 140px;
    color: #800;
    background: rgba(245, 245, 245, 0.8);
}

.dropzone {
    min-height: 270px;
    /*padding: 23px;*/
    border: 0;
    border-radius: 3px;
    background: 0;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
    font-size: 14px;
}

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
    opacity: 1;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
    opacity: 1;
}

.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
    background: #ee1e2d;
}

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
    display: block;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    background-image: url(/static/spritemap.png);
    background-repeat: no-repeat;
}

.dz-preview.dz-image-preview {
    width: auto;
}

@media all and(min-device-pixel-ratio: 1.5),
(min-resolution: 138dpi),
(min-resolution: 1.5dppx) {
    .dropzone .dz-preview .dz-error-mark,
    .dropzone-previews .dz-preview .dz-error-mark,
    .dropzone .dz-preview .dz-success-mark,
    .dropzone-previews .dz-preview .dz-success-mark {
        background-image: url(/static/spritemap@2x.png);
        -moz-background-size: 428px 406px;
        -webkit-background-size: 428px 406px;
        background-size: 428px 406px;
    }
}

.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span {
    display: none;
}

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
    background-position: -268px -123px;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
    background-position: -268px -163px;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.3s ease-in-out;
    animation: loading 0.4s linear infinite;
    border-radius: 2px;
    background-image: url(/static/spritemap.png);
    background-repeat: repeat-x;
    background-position: 0 -400px;
}

@media all and(min-device-pixel-ratio: 1.5),
(min-resolution: 138dpi),
(min-resolution: 1.5dppx) {
    .dropzone .dz-preview .dz-progress .dz-upload,
    .dropzone-previews .dz-preview .dz-progress .dz-upload {
        background-image: url(/static/spritemap@2x.png);
        background-size: 428px 406px;
    }
}

.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
    display: block;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
    display: block;
    overflow: scroll;
    margin: 0.5rem 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    opacity: 0;
    background: #fff;
}

.dropzone .dz-preview .dz-error-message *,
.dropzone-previews .dz-preview .dz-error-message * {
    display: block;
    padding: 0.5rem;
}

.dz-preview .dz-details img {
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

.dz-preview button.dz-remove {
    margin: 0.5rem;
}