#container {
    width: 100%;
    margin: 1rem 0 0;
    text-align: center;
    color: #eee;
}

#wrapper, .wrapper {
    display: flex;
    flex-direction: column;
}

header {
    margin: 0 auto 0.5rem;
}

header a:link, header a:visited {
    color: #ddd;
}

#main {
    font-size: 16px;
    transition: opacity 215ms linear 0s;
    text-align: center;
    color: #223;
    background-color: #eee;
    background-blend-mode: screen;
}

h2, .row {
    font-size: 16px;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    background: none repeat scroll 0 0 #ddd;
}

.pages a {
    font-size: 16px !important;
    display: inline-block;
    box-sizing: content-box;
    margin: 1px 1px 4px;
    padding: 0.4rem 0.8rem;
    color: #090910;
    border: 1px dashed #aaa;
    background: #ddd;
}

.pages a:hover {
    background: #d9d9d9;
}

.pages a.active {
    font-weight: bold;
    background: #ccc;
}

.pages.bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.row {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.row.top {
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.row.m-b {
    border-top: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.row.padded {
    padding: 1rem;
}

.row.delete-options input {
    margin: 0.5rem;
}

small {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

form.sort-form {
    display: inline-flex;
    flex-flow: wrap;
    margin: 0 auto;
}

form.sort-form > div {
    flex-grow: 1;
    margin: 0.5rem 1rem;
}

form.sort-form select, form.sort-form input.search-query {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.file-container {
    display: inline-block;
    width: 200px;
    margin-left: 0.5rem;
}

.file-container .file-thumbnail, .file-container .file-info {
    background-color: #fff;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.file-container .file-thumbnail {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 200px;
    margin-bottom: 4px;
    background-position: center center;
    background-size: cover;
}

.file-container .file-thumbnail-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.file-container .file-thumbnail-type {
    font-size: 92px;
    line-height: 200px;
}

.file-container input.file-delete-checkbox {
    float: left;
    margin: 1px 3px 1px 1px;
}

.file-container .file-info {
    font-size: 0.75rem;
    display: block;
    overflow: hidden;
    margin-bottom: 4px;
    padding: 2px 4px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset,
    0 2px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(0, 0, 0, 0.4) inset;
}

.file-container .file-info.details {
    margin-bottom: 1rem;
}

.file-container .file-thumbnail-paste {
    font-size: 8pt;
    position: absolute;
    top: 1px;
    left: 0;
    display: inline-block;
    overflow-y: auto;
    width: 196px;
    height: 199px;
    margin: 0 0 0 3px;
    text-align: left;
    color: #666;
}

.hl {
    font-weight: bold;
    background: yellow;
}

.highlight {
    background: yellow;
}
