#container {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
    color: #eeeeee;
}

header {
    float: none;
    font-family: "Open Sans", "Helvetica Neue", Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    letter-spacing: 0;
    color: #eeeeee;
    text-align: center;
    margin: 0 auto 10px;
    border: 0px;
}

header a:link, header a:visited {
    color: #ddd;
}

#main {
    float: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    border: 0 solid #999999;
    text-align: center;
    font-size: 16px;
    color: #222233;
    background: none repeat scroll 0 0 #eeeeee;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4) inset;
    transition: all 215ms linear 0s;
}

header div {
    width: 90%;
    margin: 20px auto 0;
    padding: 14px 11px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    background: none repeat scroll 0 0 #eeeeee;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4) inset;
}

.left {
    text-align: left;
}

.sorty div {
    display: block;
    margin-top: 3px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    font-weight: 400;
}

.sorty div a {
    text-decoration: underline !important;
}

h2 {
    margin: 0 0 0;
    padding: 7px 9px;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    background: none repeat scroll 0 0 #dddddd;
}

.group {
    padding: 10px 0;
    background: #ffffff;
}

.pages {
    font-weight: 400 !important;
}

.pages.bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.debug.top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 400;
}

.debug {
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 9pt;
}

p {
    margin-bottom: 12px;
    font-size: 12px;
}

.submit {
    text-align: center;
}

.wrapper {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    margin-left: 5px;
}

.img {
    z-index: 2;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
}

img {
    border: 0 none;
}

hr {
    clear: both;
}

.disabled {
    text-decoration: line-through;
    color: #444;
}

.checkbawks {
    float: left;
    margin: 1px 3px 1px 1px;
    vertical-align: bottom;
}

.paste {
    color: #666;
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 196px;
    height: 199px;
    overflow-y: auto;
    font-size: 8pt;
    text-align: left;
    margin: 0 0 0 3px;
}

.gc .wrapper {
    display: block;
    float: none;
    clear: both;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.gc .wrapper:nth-last-child(2) {
}

.gc .img {
    float: left;
    position: relative;
    width: 80px;
    height: 80px;
}

.gc .img a {
    top: 0;
    left: 0;
}

.gc .paste {
    display: block;
    z-index: 2;
    position: relative;
    top: 1px;
    width: 80px;
    height: 79px;
    overflow-y: auto;
    text-align: center;
    font-size: 8pt;
}

.gc h2 {
    margin: 0;
}

.gc .checkbawks {
    float: none;
    margin: 1px 0;
    vertical-align: middle;
}

.gc .info {
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    margin-left: 0;
    padding: 0 11px;
    overflow: hidden;
    text-align: left !important;
    text-overflow: ellipsis;
    font-size: 150%;
    line-height: 80px;
    white-space: nowrap;
    color: #000000;
    box-shadow: none;
}

.gc .info.details {
    display: table-cell;
    width: 25%;
    margin-top: 21px;
    padding: 0;
    font-size: 14px;
    line-height: 19px !important;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.5);
}

.gc .info.details span {
    color: #000;
}

h2.pages {
    padding: 15px;
}

h2.pages a {
    display: inline-block;
    width: 20px;
    margin: 1px 1px 4px;
    padding: 5px;
    border: 1px dashed #aaaaaa;
    font-size: 16px !important;
    background: none repeat scroll 0 0 #cccccc;
}

h2.pages a:last-child {
    padding: 5px;
}

.info {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset,
    0 2px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(0, 0, 0, 0.4) inset;
    color: #000000;
    display: inline-block;
    font-size: 75%;
    margin-top: 2px;
    overflow: hidden;
    padding: 2px 4px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 192px;
    position: relative;
    top: 201px;
}

.wrapper {
    margin-bottom: 60px;
    height: 240px;
}

h2.debug.top {
    margin-bottom: 20px;
}

.hl {
    background: yellow;
    font-weight: bold;
}

#error {
    padding: 20px;
}

.highlight {
    background: yellow;
}
