#box-left {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 320px;
    margin: 0;
    text-align: center;
    color: #000;
    border-right: 1px solid #aaa;
}

#box-right {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    min-width: 430px;
    padding: 0;
    text-align: center;
}

#fields {
    margin-top: 2.5rem;
}

@media only screen and (max-width: 750px) {
    #wrapper {
        flex-direction: column;
    }

    #content {
        min-width: 90%;
        max-width: 100%;
        margin: 0 auto 10px;
        padding: 0;
    }

    #box-left {
        width: 100%;
        margin-bottom: 2rem;
        border-right: 0 !important;
        border-bottom: 1px solid #aaa;
    }

    #box-right {
        width: 100%;
    }
}

#identification {
    display: block;
    /*margin-top: 3rem;*/
    text-align: center;
}

#identification label {
    display: inline-block;
    width: 80px;
    margin: 5px 10px 5px 0;
    text-align: right;
}

#files {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.bottom {
    line-height: 1.6rem;
    align-self: flex-end;
    box-sizing: content-box;
    width: 100%;
}

.bottom:not(:empty) {
    margin: auto auto 0;
    padding: 1rem 0;
}

.bottom a {
    text-decoration: underline;
}

input[type="radio"] {
    margin-right: 5px;
    margin-left: 15px;
}

#overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.95);
}

#rules-hidden {
    font-size: 11px;
    display: none;
    padding: 0 10px;
    text-align: center;
}

#rules-hidden > button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

pre {
    font-size: 1rem;
    overflow-x: auto;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px dashed #8f8f8f;
    background: #fff;
}

span.button-icon {
    display: inline-block;
    width: auto;
}

span.button-icon a {
    font-size: 38px;
    position: relative;
    display: inline-block;
    width: 72px;
    height: 78px;
    margin: 10px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    text-align: center;
    vertical-align: middle;
    text-decoration: none !important;
    color: #424242;
    border: 1px solid #a8a8a8;
    background: #e9e9e9;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    background: linear-gradient(0deg, #e9e9e9 25%, #fcfcfc 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

span.button-icon a[data-icon]:before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: auto;
}

span.button-icon a:hover {
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);*/
    box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px -3px rgba(0, 0, 0, 0.20);
}

span.button-icon .types {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    padding: 3px 0;
    text-align: center;
    color: #424242;
    background: 0;
}

span.button-icon .locks {
    font-size: 13px;
    line-height: 19px;
    position: absolute;
    top: 35%;
    right: 30%;
    display: block;
    text-align: center;
    text-decoration: none !important;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button, input[type="button"], input[type="submit"] {
    font-size: 14px;
}

#remove-all-files {
    display: block;
    margin: 1rem auto;
}