#container {
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
}

#main {
    flex-direction: column;
    box-sizing: border-box;
    width: 95%;
    max-width: 1024px;
    min-height: auto;
    margin-top: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 750px) {
    #main {
        width: 100%;
    }
}

#identification {
    display: block;
    text-align: center;
}

#identification label {
    display: inline-block;
    width: 80px;
    margin: 5px 10px 5px 0;
    text-align: right;
}

.syntaxtable {
    border-spacing: 0;
}

.linenos {
    /* width: 14px; */
    position: sticky;
    z-index: 1;
    left: 0;
    padding: 0 0.5rem;
    text-align: right;
    border-right: 1px solid #ccc;
    background: #f7f7f7;
}

.code {
    padding-left: 0.5rem;
}

.code-text, .code-view {
    font-family: "InconsolataMedium", Consolas, Monaco, "Liberation Mono", Courier, monospace;
    font-size: 12px;
    overflow: auto;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    text-shadow: none;
}

td.linenos pre {
    /* this is set by pygments css */
    min-width: 24px;
    padding: 0;
    color: #999;
    background: #f7f7f7;
}

.code-view {
    font-size: 13px;
    line-height: 125%;
}

pre, textarea {
    font-family: "InconsolataMedium", Consolas, Monaco, "Liberation Mono", Courier,
    monospace;
    /* this is set by pygments css */
    line-height: inherit;
    margin: 0.5rem 0;
}

.paste-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.paste-info {
    font-size: 12px;
    display: inline-block;
    color: #000;
}

.paste-info.right {
    text-align: right;
}

a, a:link, a:visited {
    text-decoration: underline;
}

textarea,
#commit_message {
    box-sizing: border-box;
    width: 100%;
}

#commit_message {
    box-sizing: border-box;
    padding: 4px 3px;
}

.commit-message {
    margin-bottom: 0.5rem;
}

.commit-message .code-text {
    border: 1px dashed #ccc;
    background: rgba(247, 247, 247, 0.75);
}

.commit-message .code-text .syntax {
    background: none;
}

.commit-message h6 {
    margin: 0 0 0.5rem;
}

.diff div:hover {
    background-color: #ffc;
}

.diff .control {
    color: #999;
    background-color: #eaf2f5;
}

.diff .insert {
    color: #000;
    background-color: #dfd;
}

.diff .insert .highlight {
    color: #000;
    background-color: #afa;
}

.diff .delete {
    color: #000;
    background-color: #fdd;
}

.diff .delete .highlight {
    color: #000;
    background-color: #faa;
}
