#container {
    margin: 1rem auto;
}

#main {
    box-sizing: border-box;
    margin-top: 1rem;
    padding: 1rem;
    flex-direction: column;
    min-height: auto;
}

#identification {
    display: block;
    text-align: center;
}

#identification label {
    display: inline-block;
    width: 80px;
    margin: 5px 10px 5px 0;
    text-align: right;
}

.syntaxtable {
    border-spacing: 0;
}

.linenos {
    width: 14px;
    padding: 0 0.5rem;
    text-align: right;
    border-right: 1px solid #ccc;
}

.code {
    padding-left: 0.5rem;
}

.code-text, .code-view {
    font-family: "InconsolataMedium", Consolas, Monaco, "Liberation Mono", Courier, monospace;
    font-size: 12px;
    overflow: auto;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    text-shadow: none;
}

td.linenos pre {
    /* this is set by pygments css */
    background: #fff;
}

.code-view {
    font-size: 13px;
    line-height: 125%;
}

pre, textarea {
    font-family: "InconsolataMedium", Consolas, Monaco, "Liberation Mono", Courier,
    monospace;
    /* this is set by pygments css */
    line-height: inherit;
    margin: 0.5em 0;
}

.paste-info {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
    color: #000;
}

a, a:link, a:visited {
    text-decoration: underline;
}

textarea,
#commit-message {
    box-sizing: border-box;
    width: 100%;
}

#commit-message {
    box-sizing: border-box;
    padding: 4px 3px;
}

.commit-message {
    margin-bottom: 0.5rem;
}

.commit-message .code-text {
    border: 1px dashed #ddd;
    background: rgba(221, 221, 221, 0.45);
}

.commit-message .code-text .syntax {
    background: none;
}

.commit-message h6 {
    margin: 0 0 0.5rem;
}

.diff div:hover {
    background-color: #ffc;
}

.diff .control {
    color: #999;
    background-color: #eaf2f5;
}

.diff .insert {
    color: #000;
    background-color: #dfd;
}

.diff .insert .highlight {
    color: #000;
    background-color: #afa;
}

.diff .delete {
    color: #000;
    background-color: #fdd;
}

.diff .delete .highlight {
    color: #000;
    background-color: #faa;
}
