label {
    display: block;
    float: left;
    width: 165px;
    padding: 5px 5px 4px 15px;
    text-align: left;
}

#container {
    width: 900px;
    text-align: center;
    color: #eee;
}

header div {
    font-size: 13px;
    font-weight: 400;
    width: 70%;
    margin: 20px auto 0;
    padding: 14px 10px;
    text-align: center;
    color: #000;
    background: none repeat scroll 0 0 #eee;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4) inset;
}

#wrapper {
    font-size: 13px;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
}

form p {
    font-size: 9px;
    padding: 0 0 0 10px;
    color: #777;
}

.textbox,
select {
    width: 248px;
}

input.textbox {
    height: 25px;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-bottom: 1em;
}

input,
select,
textarea {
    -moz-box-sizing: border-box;
}

.textbox,
textarea,
select {
    padding: 4px 5px;
    border: 1px solid #888;
    outline: 0 none;
    background: none repeat scroll 0 0 #fff;
}

input,
textarea,
select,
button {
    font: 11px Tahoma, Calibri, Verdana, Geneva, sans-serif;
}

h2 {
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px 10px;
    color: #3e3e3e;
    border-top: 1px solid #cecece;
    background: none repeat-x scroll 0 0 #ccc;
}

option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}

select {
    margin: 0 0 5px -4px;
}

form .right-col {
    display: block;
    float: none;
    max-width: 496px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 175px;
}

ul {
    margin-left: 145px !important;
}

ul label {
    display: inline;
    float: none;
    width: auto;
}

li {
    list-style: none outside none;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url("//sgfc.co/SAgXV") repeat fixed 0 0%,
    linear-gradient(to bottom, #485563 0%, #29323c 100%) repeat fixed 0 0 rgba(0, 0, 0, 0);
}

#box-right {
    border: none !important;
    background: url("//sgfc.co/TQUet") repeat fixed 0 0 #fff !important;
    box-shadow: none !important;
}

#box-right a {
    text-decoration: underline !important;
}

.right-col label {
    padding-left: 0px !important;
}

.right-col input {
    margin-left: 0;
}
