:root {
    --left-col: 10rem;
    --x-padding: 1.5rem;
    --input-height: 2rem;
}

/* Reset wrapper border hiding width set by main.css */
@media only screen and (max-width: 750px) {
    #wrapper {
        border-right-width: 1px;
        border-left-width: 1px;
    }
}

@media only screen and (max-width: 560px) {
    :root {
        --x-padding: 1rem;
        --left-col: 8rem;
    }

    #wrapper {
        border-right-width: 0;
        border-left-width: 0;
    }
}

#maintb {
    max-width: 560px;
}

#wrapper {
    margin: 0 auto 2em;
    padding: 0;
    font-size: 13px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    color: #223;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: none repeat-x scroll 0 0 #ddd;
}

label {
    line-height: var(--input-height);
    display: block;
    float: left;
    width: calc(var(--left-col) - var(--x-padding));
    height: var(--input-height);
    margin-right: var(--x-padding);
    text-align: right;
}

input {
    -moz-box-sizing: border-box;
}

input.textbox {
    width: calc(100% - var(--left-col) - var(--x-padding));
    min-width: 192px;
    height: var(--input-height);
    margin-bottom: 5px;
    padding: 0 8px;
    border: 1px solid #888;
    outline: 0 none;
    background: none repeat scroll 0 0 #fff;
}

input[type="radio"] {
}

form {
    /* TODO: remove once flexbox is in */
    height: auto !important;
}

.right-col {
    display: block;
    float: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: var(--left-col);
}

.right-col label {
    padding-left: 0;
}

.right-col input {
    margin-left: 0;
}

ul.right-col {
    margin-left: calc(var(--left-col) - var(--x-padding));
    padding-inline-start: var(--x-padding);
}

ul label {
    display: inline;
    float: none;
    width: auto;
}

li {
    margin-bottom: 0.5rem;
    list-style: none outside none;
}

.form-field {
    margin: 1rem var(--x-padding);
}

.notes {
    font-size: small;
    line-height: 150%;
    margin-top: 0.5rem;
    color: #666;
}

.save-button-container {
    margin: 2rem;
    text-align: center;
}