/* Base CSS */

*::-moz-selection {
    text-shadow: none;
    color: #FFFFFF;
    background: none repeat scroll 0 0 #FE57A1;
}

html,
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

#maintb {
    width: 100%;
    height: 100%;
}

.index #maintb,
.general #maintb,
.pastebin #maintb,
.settings #maintb {
    width: 900px;
    margin: 0 auto;
}

#maintd {
    vertical-align: middle;
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    background: url("http://sgfc.co/EHGdM") repeat scroll 0 0 #000000;
}

p,
h2 {
    padding: 3px 7px;
}

.rules {
    display: block;
    font-family: arial !important;
    color: black;
}

.rules ul,
.rules ul li {
    text-align: left !important;
    font-size: 14px;
    font-weight: 400;
}

p {
    margin-bottom: 12px;
    font-size: 12px;
}

.submit {
    text-align: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: #34345C;
}

label {
    display: inline-block;
    width: auto;
    text-align: right;
}

label {
    width: 36px;
    padding: 0 0 0 2px;
    text-align: center;
}

#identification label {
    width: 76px;
}

#identification {
    margin-top: 10px;
}

#identification br {
    margin-bottom: 5px;
}

#filess,
#url {
    display: inline-block;
}

.unimportant {
    text-align: center;
    font-size: 10px;
}

#container {
    width: 900px;
    text-align: center;
    color: #EEEEEE;
}

header {
    margin-bottom: 10px;
    text-align: center !important;
    font-family: 'Open Sans','Helvetica Neue',Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 3.5em;
    letter-spacing: 0;
    color: #EEEEEE;
}

#main {
    width: 40%;
    margin: 0 auto;
    padding: 20px 9px;
    border: 1px solid #999999;
    text-align: center;
    font-size: 13px;
    color: #222233;
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4) inset;
    transition: all 215ms linear 0s;
}

body.general #main {
    text-align: left;
}

.rules {
    width: 40%;
    margin: 10px auto 0;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    color: #000000;
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4) inset;
}

header div {
    width: 40%;
    margin: 20px auto 0;
    padding: 14px 10px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4) inset;
}

.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: inline-block;
}